:root {
  --primary-color: #2b93ad !important;
  --light-color: #ffffff !important;
  --dark-color: #d1d1d1 !important;
  --danger-color: #c71a1a !important;
  --danger-light-color: #f5b2b2 !important;

  --text-dark-color: #3a3a3a !important;
  --text-light-color: #ffffff !important;
  --text-link-color: #104957 !important;
  --text-danger-color: #a81515 !important;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}
